.reveal {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal_first {
  opacity: 0;
  transform: scale(0.4);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.reveal_first.is-visible {
  opacity: 1;
  transform: scale(1);
}

/* custom most using classes */

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-direct-col {
  flex-direction: column;
}

.btn {
  width: 18.6rem;
  height: 5.7rem;
  color: var(--color-brown);
  border: 0.1rem solid var(--color-brown);
  border-radius: 0.2rem;
  transition: 300ms;
  font-family: var(--secondary-font);
  font-size: 2.4rem;
}

.btn:hover,
.btn:active {
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.picture__name {
  margin-top: 1.6rem;
  line-height: 150%;
  column-gap: 0.6rem;
  font-size: 1.6rem;
}

.picture__name > span:first-child {
  font-family: var(--secondary-font);
}

.picture__name > span:last-child {
  color: rgba(48, 41, 37, 0.67);
}

.status {
  font-size: clamp(1.4rem, 5vw, 2.4rem);
  position: absolute;
  top: 0;
  left: 0.5%;
  transform: translateY(-75%);
  background-color: var(--color-main);
  color: var(--color-white);
  width: 15.2rem;
  height: 4.1rem;
}

/* header */

/* .header {
  position: relative;
} */

.page_top {
  background-color: var(--color-main);
  padding: 1.7rem 0;
  position: relative;
}

.header__top {
  color: var(--color-white);
  justify-content: space-between;
}

.socials ul {
  font-size: 2.4rem;
  gap: 3rem;
}

.socials a {
  color: var(--color-white);
  transition: 300ms;
}

.socials > ul > li > a:hover {
  color: var(--color-active);
}

.socials > ul > li > a:hover > svg > path {
  fill: var(--color-active);
}

.header__top-langs > ul {
  position: relative;
  font-size: 1.4rem;
  line-height: 136%;
}

.header__top-langs > ul > li {
  gap: 1rem;
  cursor: pointer;
}

.header__top-langs > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 155%;
  left: 0;
  background-color: var(--color-main);
  border-radius: 0.4rem;
  transform: translate(-15%, 60%);
  transition: 0.6s all ease;
  cursor: pointer;
}

.header__top-langs > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-15%, 0);
}

.header__top-langs > ul > li > ul > li {
  padding: 0.8rem 1.9rem;
  border-bottom: 0.1rem solid var(--color-white);
}

.header__top-nav {
  display: none;
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  background-color: var(--color-main);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-family: var(--secondary-font);
}

.header__top-nav.active {
  display: block;
}

.header__top-menu {
  column-gap: 3rem;
  padding: 1rem;
}

.header__top-menu a {
  color: var(--color-white);
}

/* hamburger styles */

.plate {
  display: none;
  width: 50px;
  height: 60px;
  cursor: pointer;
}

.plate svg {
  width: 50px;
  height: 60px;
  position: absolute;
}

.burger {
  filter: url(#gooeyness);
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke: var(--color-white);
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}

.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

/* hamburger ended */

.header__logo {
  padding: 2.6rem;
}

.header__logo-img {
  display: block;
  width: 29.2rem;
  margin: 0 auto;
}

/* page name */

.page_name {
  font-size: clamp(2rem, 5vw, 3.2rem);
  font-family: var(--secondary-font);
  text-align: center;
  margin-top: 2.6rem;
  display: none;
}

.header__bottom {
  border-bottom: 0.2rem solid rgb(0, 0, 0, 0.1);
  padding-bottom: 0.85rem;
}

/* navbar */

.navbar__menu {
  max-width: 100rem;
  margin: 0 auto;
  font-family: var(--secondary-font);
  justify-content: space-between;
  padding: 0 2rem;
  text-transform: uppercase;
}

.header__bottom > .navbar > .socials {
  display: none;
}

.navbar__menu > li > a {
  color: var(--color-brown);
  font-weight: 400;
}

.navbar__menu > li.active > a,
.navbar__menu > li > a:hover {
  color: var(--color-active);
}

/* footer */

.footer {
  margin-top: 12.8rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer__nav {
  padding: 5.4rem 0;
}

.footer__navmenu {
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.1rem;
}

.footer__navmenu > li > ul {
  column-gap: 2.6rem;
  margin-top: 3rem;
  font-size: clamp(1.6rem, 5vw, 1.8rem);
}

.footer__navmenu > li > ul > li > a:hover {
  color: var(--color-active);
}

.footer__bottom {
  padding: 1.8rem 0;
  background-color: var(--color-main);
  color: var(--color-white);
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.82);
}

.footer__bottom-wrapper {
  justify-content: space-between;
  gap: 4.6rem 17.5rem;
}

.footer__copy a {
  text-decoration: underline;
}

.footer__copy a:hover {
  text-decoration: initial;
  color: var(--color-active);
}

/* contact */

.contact__top {
  margin-top: 16rem;
  text-align: center;
  font-family: var(--secondary-font);
}

.contact__details {
  margin-top: 3rem;
  row-gap: 2.4rem;
  font-size: clamp(1.6rem, 5vw, 3.2rem);
}

.contact__details h4 {
  font-size: inherit;
}

.socials > .contact__socials {
  column-gap: 4rem;
}

.socials > .contact__socials a {
  color: var(--color-main);
}

.contact__form {
  margin: 6.5rem auto 0;
  max-width: 79.4rem;
}

.contact__form-inputs {
  column-gap: 8rem;
  height: 4rem;
  width: 100%;
}

.contact__form-inputs > input,
.contact__form textarea {
  border: 0.1rem solid var(--color-main);
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  font-family: var(--secondary-font);
}

.contact__form-inputs > input {
  flex: 1;
  height: 100%;
}

.contact__form > textarea {
  margin-top: 4.1rem;
  width: 100%;
  resize: none;
  height: 30rem;
}

.contact__form > button {
  margin-top: 2rem;
  background-color: var(--color-main);
  border: 0;
  color: var(--color-white);
  margin-left: auto;
}

/* modal */

.backdrop,
.backdrop1 {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.63);
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
}

.backdrop.active,
.backdrop1.active {
  display: flex;
}

.modal {
  max-width: 93.7rem;
  background-color: var(--color-main);
  color: var(--color-white);
  overflow: hidden;
  padding: 2.9rem 2.4rem;
  position: relative;
}

.cm {
  max-width: 120rem;
  width: 80%;
  gap: 7.1rem;
  padding: 2.2rem;
  background-color: var(--color-white);
  color: inherit;
}

.modal__img {
  flex: 1;
}

.cm > .modal__img {
  max-width: 38rem;
}

.modal__img img {
  object-fit: contain;
}

.modal__content {
  flex: 1;
  text-align: center;
}

.cm > .modal__content {
  text-align: justify;
  line-height: 139%;
}

.modal__content > h3 {
  line-height: 181%;
  text-align: center;
}

.cm > .modal__content > h3 {
  font-family: var(--secondary-font);
  font-size: clamp(2.4rem, 5vw, 4rem);
}

.cm > .modal__content > p {
  margin-top: 2rem;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.cm > .modal__content > label > input {
  margin-top: 5.7rem;
}

#modal_close,
#copy_close {
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 10;
}

#copy_close {
  right: auto;
  left: 2%;
}

#copy_close:disabled svg rect {
  fill: #d9d9d9;
}

/* copyrights */
.copy__details {
  margin-top: 7.8rem;
  row-gap: 5.5rem;
}

.copy__details h3,
.copy__details h4 {
  text-align: center;
  font-family: var(--secondary-font);
}

.copy__details p {
  font-family: var(--sixth-font);
  text-align: justify;
  font-size: clamp(1.4rem, 5vw, 2.4rem);
  line-height: 160%;
}

/* responsive */

@media only screen and (max-width: 992px) {
  .footer__bottom-wrapper {
    column-gap: 4rem;
  }
}

@media only screen and (max-width: 930px) {
  .footer__navmenu {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .header__top-langs {
    order: -1;
  }

  .plate {
    display: block;
  }

  .page_name {
    display: block;
  }

  .navbar {
    opacity: 0;
    background-color: var(--color-main);
    position: absolute;
    top: 9.4rem;
    width: 100%;
    height: 100vh;
    transition: 300ms;
    padding: 1.7rem 0;
    z-index: 99;
  }

  .navbar__menu > li > a {
    color: var(--color-white);
  }

  .footer__bottom-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 13.6rem;
    height: 3.7rem;
    font-size: 2rem;
  }

  .modal__content {
    padding: 4rem;
  }

  .socials {
    display: none;
  }

  .header__logo-img {
    width: 23rem;
  }

  .navbar.active {
    opacity: 1;
  }

  html:has(.navbar.active) .header__top-langs {
    display: none;
  }

  .plate {
    margin-left: auto;
  }

  .navbar .navbar__menu {
    flex-direction: column;
    row-gap: 3.4rem;
    justify-content: stretch;
  }

  body:has(.navbar.active) {
    overflow: hidden;
  }

  .navbar.active .navbar__menu .socials {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .footer__navmenu ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__navmenu > li > ul {
    column-gap: 1rem;
  }

  .footer__bottom-wrapper > .socials {
    display: block;
  }
}

@media only screen and (max-width: 296px) {
  .footer__bottom-wrapper .socials ul {
    flex-direction: column;
  }
}
