.serices__grid {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 27.5rem), 30rem));
  justify-content: space-between;
  place-content: center;
  column-gap: 6.5rem;
  row-gap: 3rem;
}

.services__card {
  border-radius: 1.3rem;
  overflow: hidden;
  background-color: var(--color-main);
  border: 0.2rem solid #e6e6e6;
  color: var(--color-white);
}

.services__card-img {
  max-height: 29.2rem;
  width: 100%;
}

.services__card-content {
  padding: 2rem 1.6rem;
  transition: 400ms all;
}

.services__card-content > h4 {
  font-family: inherit;
  line-height: 125%;
}

.services__card-content > p {
  transition: 400ms all;
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 6.1rem;
  overflow: hidden;
}

.services__card-content > span {
  display: none;
  justify-content: flex-end;
}

.services__card:hover {
  box-shadow: rgba(0, 0, 0, 30%) 1.2rem 1.2rem 1.2rem;
}

.services__card:hover > .services__card-content {
  padding: 1.5rem 1.2rem;
}

.services__card:hover > .services__card-content > p {
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  height: 12.2rem;
}

.services__card:hover > .services__card-content > span {
  display: flex;
}
